/* Contributors: Samuel Ren */

.main-section {
  flex-grow: 1;
  min-height: 85vh;
  position: relative;
  margin-top: 125px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
