/* Contributors: Samuel Ren */

.authButtonContainer {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  font-family: "Inter", "Roboto", sans-serif;
}

.loginButton,
.registerButton,
.logoutButton {
  padding: 15px 40px;
  margin: 0;
  border-radius: 30px;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.loginButton {
  background-color: var(--secondary);
  color: white;
  border: none;
}

.loginButton:hover {
  background-color: var(--primary);
}

.registerButton {
  background-color: white;
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.registerButton:hover {
  background-color: var(--beige);
  border-color: var(--primary);
  color: var(--primary);
}

.logoutButton {
  background-color: var(--primary);
  color: white;
  border: none;
  margin: 0;
  margin-left: 20px;
}

.logoutButton:hover {
  background-color: var(--secondary);
}
