.mobileMenu {
  position: fixed;
  top: 15%;
  left: 0;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 1000;
  padding: 20px;
  box-sizing: border-box;
}

.closeButton {
  position: absolute;
  color: black;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.mobileAuthContainer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #eee;
}
