.mobileMenu {
  position: absolute;
  top: 125px;
  width: 100%;
  height: auto;
  background-color: white;
  z-index: 1000;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Ensures links are stacked vertically with space between */
  width: 100%; /* Ensures links take full width */
  border-bottom: 2px solid #eee;
}

.mobileAuthContainer {
  display: flex;
  padding: 20px;
  justify-content: flex-end; /* Moves AuthButtons to the right */
  width: 100%; /* Ensures full width */
}
