.desktopNavLinks {
  font-family: "Inter", "Roboto", sans-serif;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
}

.mobileNavLinks {
  font-family: "Inter", "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.navLinkItem {
  margin: 0 20px;
}

.mobileNavLinks .navLinkItem {
  margin: 10px 0;
  text-align: center;
  width: 100%;
}

.desktopLinkItem {
  text-decoration: none;
  color: var(--primary);
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

.mobileLinkItem {
  text-decoration: none;
  color: var(--primary);
  display: block;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.desktopLinkItem:hover {
  cursor: pointer;
  color: var(--mcgill-red);
}

.mobileLinkItem:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--mcgill-red);
}

.desktopLinkItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--mcgill-red);
  transition: width 0.3s ease;
}

.desktopLinkItem:hover::after {
  width: 100%; /* Full width on hover */
}
