.desktopNavLinks {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
}
  
.mobileNavLinks {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.navLinkItem {
    margin: 0 10px;
}
  
.desktopLinkItem {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}
  
.desktopLinkItem:hover {
    color: #8c0d0d; /* McGill red */
}
  
.mobileLinkItem {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px 0;
}