button {
  background-color: #0288d1;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0277bd;
}

label {
  display: block;
  color: #ffffff;
  font-size: 1.1rem;
  margin-bottom: 8px;
  font-weight: 600;
}

input[type="text"], input[type="time"], input[type="number"], select, textarea {
padding: 12px;
margin: 10px 0;
border: 2px solid #ddd;
border-radius: 6px;
font-size: 1rem;
color: #333;
background-color: #fff;
transition: border 0.3s ease;
}

input[type="text"]:focus, input[type="time"]:focus, input[type="number"]:focus, select:focus, textarea:focus {
border-color: #0288d1;
}

textarea {
height: 120px;
}

.react-calendar {
width: 100%;
max-width: 400px;
background-color: #fff;
border: 2px solid #ddd;
border-radius: 6px;
font-size: 1rem;
}

.react-calendar__tile {
padding: 10px;
border-radius: 6px;
transition: background-color 0.3s ease;
color: #333;
}

/* Form container styles */
.meeting-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #8189c8; /* Dark Blue */
  padding: 0px;
  border-radius: 15px;
  overflow-y: auto;
}

.form-title, .form-date, .form-time, .form-repeat, .form-interval, .form-location, .form-description .form-seats {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-title label, .form-date label, .form-time label, .form-repeat label, .form-interval label, .form-location label, .form-description label .form-seats label{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.form-title input, .form-date input, .form-time input, .form-repeat select, .form-interval select, .form-location input, .form-description textarea .form-seats input {
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 5px;
}

button[type="submit"] {
  background-color: #0288d1; /* Blue */
  color: #fff;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  align-self: center;
}

button[type="submit"]:hover {
  background-color: #0277bd;
}

/* Styles for mobile responsiveness */
@media (max-width: 768px) {
  .meeting-form {
    padding: 20px;
  }

  .form-container {
    grid-template-columns: 1fr; /* Single column layout for small screens */
  }

  .form-submit button {
    width: 100%;
  }
}