.dashboardContainer {
  display: flex;
  width: 100%;
  min-height: 85vh;
  position: relative;
}

.sidebar {
  width: 180px;
  height: 400px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  transition: width 0.3s ease, transform 0.3s ease;
  position: relative;
  margin: 10px 0 10px 10px;
  border-radius: 10px;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 60px;
  margin-right: 10px;
}

.sidebar.collapsed .label {
  display: none;
}

.sidebar.collapsed .sidebarItem {
  justify-content: center;
  padding: 10px;
}

.sidebarToggle {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.sidebarToggle:hover {
  background-color: #e0e0e0;
}

.sidebarItem {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 10px;
  background: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}

.sidebarItem:hover {
  background-color: #e0e0e0;
}

.sidebarItem.active {
  background-color: #007bff;
  color: white;
}

.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.label {
  margin-left: 10px;
  font-size: 16px;
  overflow: hidden;
}

.mainContent {
  margin: 10px;
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--beige);
  transition: width 0.3s ease, margin-left 0.3s ease;
}

.mainContent.expanded {
  margin-left: 0;
}
