.notificationsContainer {
    padding: 20px;
    background-color: #f9f9f9;
    height: auto;
    max-height: 85vh;
    overflow-y: auto;
  }
  
  .notificationsContainer h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #007bff;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
  }

  .cancelButton {
    background-color: white;
    color: black;
    border: 2px solid #fd6e6b;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
  }
  
  .cancelButton:hover {
    background-color: #fd6e6b;
    transition: 0.3s;
  }
  
  .notificationItem {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .info {
    display: flex;
    justify-content: space-between;
    text-align: left;
    flex: 3;
    flex-direction: column;
    padding: 20px;
  }


  
  .notificationItem p {
    font-size: 16px;
    margin: 0.5rem 0;
  }

  .deleteButton {
    background-color: transparent;
    border: none;
    color: #fd6e6b;
    font-size: 24px;
    cursor: pointer;
  }
  
  .deleteButton:hover {
    color: #d24341;
  }
  
  @media screen and (max-width: 768px) {
    .notificationsContainer {
      padding: 10px;
    }
  
    .notificationsContainer h2 {
      font-size: 1.5rem;
    }
  
    .notificationItem {
      padding: 10px;
    }
  
    .info {
      padding: 10px;
    }
  
    .notificationItem p {
      font-size: 14px;
    }
  
    .clearButton {
      padding: 8px 16px;
      font-size: 14px;
    }
  
    .deleteButton {
      font-size: 20px;
    }
    
  }

  @media screen and (max-width: 500px) {
    .notificationItem {
      flex-direction: column;
    }
  
    .info {
      padding: 10px;
    }

    .header {
        flex-direction: column;
      }
    
  }
  

.pastMeeting {
    background-color: #f0f0f0; /* Light grey background */
    color: #999; /* Slightly dimmed text */
  }