/*Shotaro Nakamura*/

.dashboardSection {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
}

.greeting {
  font-size: 36px;
  color: black;
  text-align: left;
  padding-left: 30px;
  margin: 20px 0 0 0;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
  color: black;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
}

.calendarSection {
  flex: 1;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  justify-content: center;
  align-items: center;
}

.calendarHeader {
  text-align: center;
}

.calendarHeader h2 {
  font-size: 24px;
  color: #007bff;
}

.calendarHeader p {
  font-size: 14px;
  color: black;
}

.meetingsSection {
  flex: 2;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 500px;
  transition: transform 0.3s ease;
}

.meetingsSection h2 {
  margin-bottom: 20px;
  color: #007bff;
}

.meetingsSection ul {
  list-style: none;
  padding: 0;
}

.meetingItem {
  background: #f7f9fc;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.meetingItem:hover {
  background-color: #e0eaff;
}

.meetingItem b {
  font-size: 1.1rem;
  color: black;
}

.meetingItem span {
  display: block;
  margin-top: 5px;
}

@media screen and (max-width: 1000px) {
  .mainContent {
    flex-direction: column;
    gap: 20px;
  }

  .calendarSection {
    padding: 20px;
  }

  .meetingsSection {
    padding: 20px;
  }
}

.customCalendar {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
}

.react-calendar__tile {
  border-radius: 50%;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1rem;
  font-weight: normal;
}

.react-calendar__tile:hover {
  background-color: #007bff;
  color: black;
}

.react-calendar__tile--active {
  background-color: #007bff;
  color: black;
}

.highlightDate {
  background-color: #f8fbac !important;
  color: black;
}
