.login-container {
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  max-width: 900px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  height: auto;
  min-height: 450px;
  margin: 20px;
}

.password-strength {
    font-size: 0.9rem;
    margin-top: 5px;
  }
  
  .password-strength.weak {
    color: red;
  }
  
  .password-strength.strong {
    color: green;
  }
  
  .error-text {
    color: red;
    font-size: 11px;
    margin-top: 5px;
    opacity: 0; /* Initially hidden */
    
    transition: opacity 0.3s ease, 
  }
  
  .error-text.show {
    opacity: 1; /* Show the error text */
  }

.login-container h1 {
  margin-bottom: 20px;
}

.login-box {
  flex: 1;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 30;
  padding: 30px;
  padding-left: 50px;
}

.image-box {
  flex: 1.2;
  display: flex;
  justify-content: flex-end; /* Aligns the image to the right */
  overflow: hidden;
  height: 100%;
  position: relative;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures the image covers the area */
  transform-origin: top right; /* Ensures the image slides from the top-right corner */
  transition: all 0.4s ease-in-out; /* Smooth shrinking effect */
}
  
  .password-rules {
    font-size: 10px;
    margin: 10px 0;
    padding: 0;
    list-style: none;
    color: red;
  }
  
  .password-rules li {
    margin: 5px 0;
  }

  .no-account {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .no-account a {
    color: #007bff;
    text-decoration: none; 
    font-weight: bold; 
    font-size: 14px; 
  }
  
  .no-account a:hover {
    text-decoration: underline; 
    color: #0056b3; 
  }
  
  .no-account a:focus {
    outline: none; 
    color: #0056b3; 
  }
  

/* Responsive Design for Smaller Screens */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    height: auto;
  }

  .image-box {
    width: 100%;
    height: 200px;
  }

  img {
    width: 100%;
    height: 100%; /* Ensure the image still fills its container */
    object-fit: cover; /* Maintain aspect ratio without white space */
  }

  .login-box {
    width: 100%;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 100%; /* Full width on smaller devices */
  }

  .image-box {
    height: 150px; /* Further reduce image height */
  }

  .form-row {
    flex-direction: column; /* Stack form elements vertically */
  }
}
