.requestList {
    padding: 1rem;
    background-color: #f9f9f9;
    height: auto;
    width: 100%;
    height: auto;
  }
  
  .requestList h2 {
    text-align: left;
    margin-bottom: 1.5rem;
    margin: 20px;
    color: #007bff;
  }
  