.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  overflow-y: auto;
}

.calendarContainer {
  margin-bottom: 20px;
  align-self: center;
}

.timeInputContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
